<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Document</title>
</head>
<body>
     
    <div id="app">
        <input type="text" name="nombre" placeholder="Ingresa tu nombre" v-model="nombre">
        <p>Tu nombre en mayuscula es : {{nombre | uppercase}} </p> 

        <form @submit.prevent="submit" action="" method="get">
            <h2>Cuales son tus cursos favoritos?</h2>
            <input v-model="cursos" type="checkbox" id="vue" value="vue">
            <label for="vue">Curso de vue.js</label>
            <input v-model="cursos" type="checkbox" id="seo" value="seo">
            <label for="seo">Curso de SEO </label>
            <input v-model="cursos" type="checkbox" id="react" value="react">
            <label for="react">Curso de react</label>
            <button type="submit">Enviar</button>
                
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript">
    let app = new Vue({
        el: '#app',
        data:{
            
            nombre:'',
            cursos: []
        },
        filters:{
            uppercase:function(str){
                return str.toUppercase
            }
        },
        methods:{
            submit: function(){
                console.log('Se ejecuta el submit')
                console.log(this.cursos)
            }
        }
        
        
        //,
        //methods:{ //metodos add push
            //sumar: function(){
              //  this.contador++ // this.contador = this.contador +1
         //   },
         //   restar: function(){
        //        this.contador--
        //    }
       // }  sin usar metodos
        
    })
    </script>
</body>
</html>